<div class="card">
  <div class="card-footer text-center">
    <h2><b>Product List</b></h2>
    <hr>
  </div>
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h2><b>Products overview</b></h2>
      <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Products</button>
      <button mat-raised-button  (click)="printTable()" color="blue">Print</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered" id="htmlData">
      <thead>
        <tr>
          <th>Sn</th>
          <th>Products name</th>
          <th>Product Description</th>
          <th>AVG/25</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of product, let i = index;">
          <td>{{i + 1}}</td>
          <td>{{products.product_name}}</td>
          <td>{{products.description}}</td>
          <td>{{products.avg}}</td>
          <!-- <td>{{products.description}}</td> -->
          <td>{{products.product_price}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="updateProduct(products.product_Id)">Edit</button>
            <button mat-raised-button color="accent" (click)="futa(products.product_Id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #myForm="ngForm" [formGroup]="form">
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="product_name" >
          </div>

          <div class="form-group">
            <label>Product Desc</label>
            <input type="text" class="form-control" formControlName="description">
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" formControlName="product_price" >
          </div>

          <div class="form-group">
            <label>Average</label>
            <input type="number" class="form-control" formControlName="avg" >
          </div>

          <div class="form-group">
            <label>Current Status</label>
            <select name="status" id="" class="form-control" formControlName="isUsed">
              <option selected> -- Choose Status -- </option>
              <option value="1">Current</option>
              <option value="0">Not Current</option>
            </select>
        </div>
        </div>
      </form>
      <div class="modal-footer">
        <button [disabled]="myForm.invalid" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submit()">submit</button>
      </div>
    </div>
  </div>
</div>
