<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h2>Items Table</h2>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add item</button>
        </div>
    </div>
    
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sn</th>
                    <th>Item name</th>
                    <th>Item Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let items of item, let x = index; ">
                    <td>{{x +1}}</td>
                    <td>{{items.item_Name}}</td>
                    <td>{{items.item_Description}}</td>
                    <td>{{items.item_price}}</td>
                    <td><button class="btn btn-primary">Update</button><button class="btn btn-danger" (click)="futa(items.item_Id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Item Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form">
            <div class="modal-body">
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                          <label>Item name</label>
                          <input type="text" class="form-control" formControlName="item_Name"/>
                      </div>
                  </div>
                  <div class="col">
                      <div class="form-group">
                          <label>Item Description</label>
                          <input type="text" class="form-control" formControlName="item_Description"/>
                      </div>
                  </div>
                  <div class="col">
                      <div class="form-group">
                          <label>Price</label>
                          <input type="text" class="form-control" formControlName="item_price"/>
                      </div>
                  </div>
                </div>
              </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submit()">submit</button>
        </div>
      </div>
    </div>
  </div>